/* ... otros estilos ... */

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: start;
}

.product-card {
  margin-bottom: 20px;
}

/* Media queries para ajustar el número de columnas en pantallas más pequeñas */
@media (max-width: 1600px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1325px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
