.navigation {
  background-color: #b67484;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0 200px;
}

.brand img {
  display: block;
  max-width: 100%;
}

.navList {
  display: flex;
  align-items: center;
}

.menuToggle {
  display: none;
  cursor: pointer;
}

.menuToggle img {
  display: block;
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  transition: transform 0.3s ease-in-out;
}

.navList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.navListItem {
  margin-right: 20px;
}

.navLink {
  color: #333;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

@media (max-width: 868px) {
  .menuToggle {
    display: block;
  }

  .navList {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #f8f8f8;
    padding: 10px;
  }

  .navListItem {
    margin-bottom: 10px;
  }

  .nav.open .navList {
    display: flex;
    flex-direction: column;
  }

  .nav.open .menuToggle img:nth-child(2) {
    opacity: 0;
  }
}
