.navigation {
  background-color: #b67484;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 10px;
}

.brand {
  z-index: 4;
}

.brand img {
  display: block;
  max-width: 100%;
}

.menuIcon {
  display: none;
  cursor: pointer;
}

.navList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.navListItem {
  margin-right: 20px;
}

.navLink {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  padding-bottom: 3px;
  transition: color 0.3s ease, padding 0.3s ease;
}

.navLink::before,
.navLink::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.navLink::before {
  transform-origin: left;
  right: auto;
}

.navLink:hover {
  color: #fff;
}

.navLink:hover::before,
.navLink:hover::after {
  transform: scaleX(1);
}

@media (max-width: 1139px) {
  .menuIcon {
    display: block;
    z-index: 7;
  }

  .navList {
    display: none;
  }

  .navList.open {
    transform: scaleY(1);
    flex-direction: column;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 25px;
    padding: 109px 0 19px 0;
    width: 100%;
    background-color: #b67484;
    z-index: 1;
    transition: transform 0.3s ease;
  }

  .navListItem {
    margin-bottom: 10px;
  }
}

@media (max-width: 1000px) {
  .navContainer {
    width: 85%;
  }
}

@media (max-width: 900px) {
  .navContainer {
    width: 97%;
  }
}
