.productInfo {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 19px;
}

.imgContainer {
  background-color: white;
  border-radius: 12px;
  height: 130px;
  background: white;
  display: flex;
  width: 130px;
  align-items: center;
  justify-content: center;
}

.imgContainer img {
  height: 114px;
  width: 114px;
  object-fit: cover;
}

.productDetail {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  font-weight: bold;
  gap: 5px;
  width: 60%;
}

.productDetail h4 {
  font-weight: normal;
}

.bar {
  height: 0.5px;
  margin: 10px 0;
  transform: translateY(-50%);
  background-color: rgb(215, 215, 215);
}

.cartColumn {
  display: grid;
  grid-template-columns: 7fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 19px;
  justify-items: flex-end;
}

.productCol {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.productCol h3 span {
  font-weight: normal;
}

.productCol:first-child {
  justify-self: start;
}

.productColMobile {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 5px;
}

.productColMobileClose {
  display: flex;
  align-items: center;
  flex-direction: revert;
  justify-content: space-between;
  display: none;
}

.cartColumnMobile {
  display: flex;
  align-items: center;
  gap: 19px;
  justify-content: space-between;
  justify-items: flex-end;
}

.productColMobile h3 span {
  font-weight: normal;
}

.cartMobile {
  display: none;
}

@media (max-width: 1042px) {
  .cartColumn {
    display: none;
  }

  .cartMobile {
    display: block;
    width: 100%;
  }

  .productDetail {
    width: 85%;
  }

  .productColMobileDetail {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
  }

  .cartColumnMobile {
    display: flex;
    align-items: center;
    gap: 19px;
    justify-content: space-between;
    justify-items: flex-end;
  }

  .productColMobileClose {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    justify-self: flex-end;
  }

  .displays {
    display: grid;
  }
}
@media (max-width: 390px) {
  .productColMobileClose {
    display: block;
  }
}
@media (max-width: 590px) {
  .productColMobileClose {
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    flex-direction: row;
  }
}
